<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$d["title"]}</title>
    <meta name="keyword" content='{$d["keyword"]}'>

    <meta name="description" content='{$d["description"]}'>
</head>
<body>
<p>
    标题:  {$article["title"]}
</p>
<p>
    作者: {$article["auther"]}
</p>
<p>
    分类: {$article["articletype_name"]}
</p>
<p>
    阅读量: {$article["readcount"]}
</p>
<p>
    内容: {$article["content"]}
</p>
<p>
    上一篇: {$pre_article}
</p>
<p>
    下一篇: {$next_article}
</p>
</body>
</html>