<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$d["title"]}</title>
    <meta name="keyword" content='{$d["keyword"]}'>

    <meta name="description" content='{$d["description"]}'>
</head>
<body>
<table border="1">
    <tr>
        <td>title</td>
    </tr>
    <?php foreach($d["article_list"] as $key=> $item):?>
    <tr>
        <td><a href="{$key}">{$item}</a></td>
    </tr>
    <?php endforeach;?>
</table>

<table border="1">
    <tr>
        <td>title</td>
    </tr>
    <?php foreach($d["article"] as $key=> $item):?>
    <tr>
        <td><a href="/article/article{$item['id']}.html">{$item["title"]}</a></td>
    </tr>
    <?php endforeach;?>
</table>
<p>
    {$d["article"]->render()}
</p>
</body>
</html>