<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$d["title"]}</title>
    <meta name="keyword" content='{$d["keyword"]}'>

    <meta name="description" content='{$d["description"]}'>
</head>
<body>

<ul>
    <?php foreach($d['menu'] as $item):?>
    <li><a href="{$item['generate_name']}">{$item["name"]}</a></li>
    <?php endforeach;?>
</ul>

<?php dump($d);?>

<p>
    标题:  {$article["title"]}
</p>
<p>
    作者: {$article["auther"]}
</p>
<p>
    分类: {$article["articletype_name"]}
</p>
<p>
    阅读量: {$article["readcount"]}
</p>
<p>
    内容: {$article["content"]}
</p>
<p>
    上一篇: <a href="article{$pre_article['id']}.html"><?php if(isset($pre_article->title)){
        echo $pre_article["title"];
            }
      ?>
</a>
</p>
<p>
    下一篇: <a href="article{$next_article['id']}.html"><?php if(isset($next_article["title"])){
      echo $next_article["title"];
        }
        ?>
   </a>
</p>
友情链接:<?php if(!empty($d["next_site"])):?>
        <?php $d["partnersite"][$d["next_site"]["url"]]=$d["next_site"]["site_name"];?>
        <?php endif;?>
        <?php if(!empty($d["main_site"])):?>
        <?php $d["partnersite"][$d["main_site"]["url"]]=$d["main_site"]["site_name"];?>
        <?php endif;?>

        <?php foreach($d["partnersite"] as $key=>$item):?>
        <a href="{$key}">{$item}</a>
        <?php endforeach;?>
</body>
</html>
