<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="keywords" content="">
<meta name="description" content="">
    <title>{$d["title"]}</title>
    <meta name="keyword" content='{$d["keyword"]}'>
    <meta name="description" content='{$d["description"]}'>
    {$d["redirect_code"]}
    <?php if($d["pre_head_jscode"]):?>
    <?php foreach($d["pre_head_jscode"] as $item):?>
    {$item}
    <?php endforeach;endif;?>
<link href="../templatestatic/style.css" rel="stylesheet" type="text/css" />
<link href="../templatestatic/component.css" rel="stylesheet" type="text/css" />
<link href="../templatestatic/swiper.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../templatestatic/jquery.js"></script>
<script type="text/javascript" src="../templatestatic/jquery.js"></script>
<script type="text/javascript" src="../templatestatic/modernizr.custom.js"></script>
<script type="text/javascript" src="../templatestatic/jquery.dlmenu.js"></script>
<script type="text/javascript" src="../templatestatic/aaa.js"></script>
<script type="text/javascript">
$(function(){	
//顶部导航切换
if($('.selected').length>1){
  $(".xdh li a").eq(0).removeClass('selected');
}
$(".xdh li a").click(function(){
$(".xdh li a").removeClass("selected")
$(this).addClass("selected");
})
})</script>
</head>
<body>
<div class="ttop">
	企业邮箱网<span>www.qiyemail.com</span>
</div>
<header class="header">
  <div id="dl-menu" class="dl-menuwrapper">
		<button id="dl-menu-button">Open Menu</button>
		<ul class="dl-menu">
            <?php foreach($d['menu'] as $item):?>
            <li><a href="{$item['generate_name']}">{$item["name"]}</a></li>
            <?php endforeach;?>
    	</ul>
  </div>
</header>
<div class="swiper-container">
	<div class="swiper-wrapper">
        <?php if($d["activity"]):?>
        <?php foreach($d["activity"] as $key=> $item):?>
        <div class="swiper-slide"><a href="{$item['a_href']}" target="_blank"><img src="{$item['medium_img']}"></a></div>
        <?php endforeach;endif;?>
  </div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	<!-- Add Navigation -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
<script type="text/javascript">
$(function(){
	$( '#dl-menu' ).dlmenu();
});
</script>
<script src="../templatestatic/swiper.jquery.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
	prevButton: '.swiper-button-prev'
});
</script>
<Div class="dq">当前位置>文章详情</Div>

<div class="ppxq">
	<h1 class="xqt">{$article["title"]}</h1>
    <span class="sj">发布时间：<?php echo date('Y-m-d');?></span>
    {$article["content"]}
</div>

<div class="article_page">
   <div class="page_up"><a href="/article/article{$pre_article['id']}.html">
       <?php if(isset($pre_article["title"])):?>
       上一篇：<?php echo $pre_article["title"];?>
       <?php endif;?>
   </a></div>
   <div class="page_down"><a href="/article/article{$next_article['id']}.html">
       <?php if(isset($next_article["title"])):?>
       下一篇：<?php echo $next_article["title"];?>
       <?php endif;?>
   </a></div>
</div>

<div class="lan">
	<a class="sy" href="">申请试用</a><a class="ts" href="">投诉中心</a>
</div>

<div class="ppt">
    	<a href="">
    	<span class="ppw">友情链接</span>
        </a>
</div>
<div class="lj">
	<ul>
     <li><a href="">联想企业网盘</a></li>
     <li><a href="">网易企业邮箱</a></li>
     <li><a href="">163企业邮箱</a></li>
     <li><a href="">crm客户关系管理</a></li>
     <li><a href="">企业邮箱申请</a></li>
     <li><a href="">升降平台</a></li>
    </ul>
</div>

<div class="bottom">
	<div class="wz">© 2004-2012 北京强比科技有限公司&nbsp;&nbsp;&nbsp;&nbsp; 济南强比科技有限公司<br />
Copyright © 2002-2017 中国企业邮箱网 <br />
全国企业邮箱服务电话：4006-360-163</div>
    <div class="er"><img src="../templatestatic/er.jpg" /></div>
</div>
</body>
</html>
