<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="keywords" content="">
<meta name="description" content="">
<title>站群模板手机站-文章详情</title>
<link href="../templatestatic/style.css" rel="stylesheet" type="text/css" />
<link href="../templatestatic/component.css" rel="stylesheet" type="text/css" />
<link href="../templatestatic/swiper.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../templatestatic/jquery.js"></script>
<script type="text/javascript" src="../templatestatic/jquery.js"></script>
<script type="text/javascript" src="../templatestatic/modernizr.custom.js"></script>
<script type="text/javascript" src="../templatestatic/jquery.dlmenu.js"></script>
<script type="text/javascript" src="../templatestatic/aaa.js"></script>
<script type="text/javascript">
$(function(){	
//顶部导航切换
if($('.selected').length>1){
  $(".xdh li a").eq(0).removeClass('selected');
}
$(".xdh li a").click(function(){
$(".xdh li a").removeClass("selected")
$(this).addClass("selected");
})
})</script>
</head>
<body>
<div class="ttop">
	企业邮箱网<span>www.qiyemail.com</span>
</div>
<header class="header">
  <div id="dl-menu" class="dl-menuwrapper">
		<button id="dl-menu-button">Open Menu</button>
		<ul class="dl-menu">
            <li><a href="">网站首页</a></li>
            <li><a href="">邮箱品牌</a></li>
            <li><a href="">行业快讯</a></li>
            <li><a href="">导购指南</a></li>
            <li><a href="">功能介绍</a></li>
            <li><a href="">企邮联盟</a></li>
            <li><a href="">客户应用</a></li>
            <li><a href="">免费企业邮</a></li>
            <li><a href="">邮箱问答</a></li>
            <li><a href="">合作展示</a></li>
    	</ul>
  </div>
</header>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="../templatestatic/banner0.jpg"></div>
			<div class="swiper-slide"><img src="../templatestatic/banner1.jpg"></div>
  </div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	<!-- Add Navigation -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
<script type="text/javascript">
$(function(){
	$( '#dl-menu' ).dlmenu();
});
</script>
<script src="../templatestatic/swiper.jquery.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
	prevButton: '.swiper-button-prev'
});
</script>
<Div class="dq">当前位置>新闻详情</Div>

<div class="ppxq">
	<h1 class="xqt">网易视频云干货分享：产品经理如何养成</h1>
    <span class="sj">发布时间：2019-01-03</span>
    2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街
    2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街2016年10月23日，由网易云和pmcaff共同举办的易创课堂在北京中关村创业大街
</div>

<div class="article_page">
   <div class="page_up"><a href="">上一篇：谁才是你文件存储的最佳选择?</a></div>
   <div class="page_down"><a href="">下一篇：谁才是你文件存储的最佳选择?</a></div>
</div>

<div class="lan">
	<a class="sy" href="">申请试用</a><a class="ts" href="">投诉中心</a>
</div>

<div class="ppt">
    	<a href="">
    	<span class="ppw">友情链接</span>
        </a>
</div>
<div class="lj">
	<ul>
     <li><a href="">联想企业网盘</a></li>
     <li><a href="">网易企业邮箱</a></li>
     <li><a href="">163企业邮箱</a></li>
     <li><a href="">crm客户关系管理</a></li>
     <li><a href="">企业邮箱申请</a></li>
     <li><a href="">升降平台</a></li>
    </ul>
</div>

<div class="bottom">
	<div class="wz">© 2004-2012 北京强比科技有限公司&nbsp;&nbsp;&nbsp;&nbsp; 济南强比科技有限公司<br />
Copyright © 2002-2017 中国企业邮箱网 <br />
全国企业邮箱服务电话：4006-360-163</div>
    <div class="er"><img src="../templatestatic/er.jpg" /></div>
</div>
</body>
</html>
