<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{$d["title"]}</title>
    <link href="/templatestatic/style.css" rel="stylesheet" type="text/css"/>
    <link href="/templatestatic/component.css" rel="stylesheet" type="text/css"/>
    <link href="/templatestatic/swiper.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/templatestatic/jquery.js"></script>
    <script type="text/javascript" src="/templatestatic/modernizr.custom.js"></script>
    <script type="text/javascript" src="/templatestatic/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="/templatestatic/aaa.js"></script>
    <script type="text/javascript">
        $(function () {
//顶部导航切换
            if ($('.selected').length > 1) {
                $(".xdh li a").eq(0).removeClass('selected');
            }
            $(".xdh li a").click(function () {
                $(".xdh li a").removeClass("selected")
                $(this).addClass("selected");
            })
        })</script>
</head>
<body>
<div class="ttop">
    企业邮箱网<span>www.qiyemail.com</span>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<script type="text/javascript">
    $(function () {
        $('#dl-menu').dlmenu();
    });
</script>
<script src="/templatestatic/swiper.jquery.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
</script>


<div class="web_hangye">
    <div class="ppt">
        <a href="">
            <span class="ppw">行业快讯</span><span class="gd"></span>
        </a>
    </div>
    <ul class="web_nr">
        <?php foreach($d["article"] as $article):?>
        <li><a href="/article/article{$article['id']}.html">{$article["title"]}</a></li>
        <?php endforeach;?>
    </ul>
</div>

<div class="web_hangye">
    <div class="ppt">
        <a href="">
            <span class="ppw">邮箱文章</span><span class="gd"></span>
        </a>
    </div>
    <ul class="web_nr">
        <?php foreach($d["news"] as $news):?>
        <li><a href="/news/news{$news['id']}.html">{$news["title"]}</a></li>
        <?php endforeach;?>
    </ul>
</div>

<div class="web_hangye">
    <div class="ppt">
        <a href="">
            <span class="ppw">邮箱问答</span><span class="gd">+更多</span>
        </a>
    </div>
    <ul class="web_nr">
        <?php foreach($d["question"] as $question):?>
        <li><a href="/question/question{$question['id']}.html">{$question["title"]}</a></li>
        <?php endforeach;?>
    </ul>
</div>


<div class="bottom">
    <div class="wz">© 2004-2012 北京强比科技有限公司&nbsp;&nbsp;&nbsp;&nbsp; 济南强比科技有限公司<br/>

        Copyright © 2002-2017 中国企业邮箱网 <br/>
        全国企业邮箱服务电话：4006-360-163
    </div>
    <div class="er"><img src="/templatestatic/er.jpg"/></div>
</div>
</body>
</html>
